{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <div class="row">

        <div class="col-sm-12 col-md-3 col-md-push-9">
        {% if user.is_authenticated %}
            {% if eksik_aylik_veri.exists %}
                <div class="panel panel-warning">
                  <div class="panel-heading">Aylık veri girişi</div>
                    <div class="panel-body">
                        <p>Aşağıdaki ay(lar) için veri girişi yapmadınız.</p>
                        <ul>
                            {% for eksik in eksik_aylik_veri %}
                                <li>{{ eksik.verbose_ay }} {{ eksik.yil }}</li>
                            {% endfor %}
                        </ul>
                        <p>Şimdi girmek için <a href="{% url 'aylik_veri' %}">tıklayın</a>.</p>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="panel panel-default">
              <div class="panel-heading">Lütfen oturum açın</div>
                <div class="panel-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ auth_form.username.label_tag }}
                            {{ auth_form.username|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ auth_form.password.label_tag }}
                            {{ auth_form.password|add_class:"form-control" }}
                        </div>
                        <input type="hidden" name="next" value="{% url "home" %}" />
                        <button type="submit" class="btn btn-default">Oturum Aç</button>
                    </form>
                </div>
            </div>
        {% endif %}
        </div>



        <div class="col-sm-12 col-md-9 col-md-pull-3">
            <img src="{% static 'bayrak01.png' %}" class="img-responsive center-block" alt="Responsive image">
            <h1 class="text-center">TR-HİES</h1>
            <h2 class="text-center">TÜRKİYE’DE HEMODİYALİZ İLİŞKİLİ ENFEKSİYONLARIN SÜRVEYANSI</h2>
            <br>
            {% if user.is_authenticated %}
                <h3>Gözlem çalışması... <span class="label label-primary">22 Haziran 2016</span></h3>
                
                <p>Gözlem çalışması ile ilgili web sitesindeki bölüm aktif durumdadır. Menüden ulaşıp verilerinizi girebilirsiniz.</p>
                
                <p>İyi çalışmalar…</p>
                
                <h3>Web sitesinin kullanımı hakkında… <span class="label label-primary">1 Nisan 2016</span></h3>

                <p>Öncelikle hemodiyaliz ünitesinde diyalize giren tüm hastaları sisteme kaydetmeniz gerekmektedir.
                Kullanım kolaylığı açısından girilecek bilgileri içeren formlara sayfanızın üst kısmından ulaşabilirsiniz.</p>

                
            {% endif %}
        </div>
    </div>

{% endblock %}
