{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="col-sm-12 col-md-4 col-md-push-4">

    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <p>Kullanıcı adı ve parola eşleşmedi.</p>
        </div>
    {% endif %}

    {% if next %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {% if user.is_authenticated %}
                <p>Bu sayfayı görmeye (veya bu işlemi yapmaya) yetkiniz yok. Yetkisi olan bir kullanıcı oturum açabilir.</p>
            {% else %}
                <p>Bu sayfayı görebilmek için lütfen oturum açın</p>
            {% endif %}
        </div>
    {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password|add_class:"form-control" }}
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn btn-default">Oturum Aç</button>
        </form>

</div>

{% endblock %}