{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ kateterOlayiForm.media }}

{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        Burada girdiğiniz bilgileri (kateter/fistül hariç) sonradan değiştirebilirsiniz.
    </div>

    <div class="row">
        <div class="col-md-12">
        <form method="post">
            <div class="row">
                {% crispy hastaForm %}
            </div>
            <div class="row">
                <h3>Kateter / Fistül bilgileri</h3>
                {% crispy kateterOlayiForm %}
            </div>
        </form>
        </div>
    </div>


{% endblock %}