{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {% include 'custom-widgets/date-widget-assets.html' %}

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#id_kof-takilma_tarihi').datetimepicker({
                format:'DD/MM/YYYY'
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        Burada girdiğiniz tüm bilgileri sonradan değiştirebilirsiniz.
    </div>

    <div class="row">
        <div class="col-md-12">
        <form method="post">
            <div class="row">
                {% crispy hastaForm %}
            </div>
            <div class="row">
                <h3>Mevcut kateter bilgileri</h3>
                {% crispy kateterOlayiForm %}
            </div>
        </form>
        </div>
    </div>


{% endblock %}