{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/tr.js"></script>
    <script type="text/javascript" src="{% static "datepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
    <link href="{% static "datepicker/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#id_kof-takilma_tarihi').datetimepicker({
                format:'DD/MM/YYYY'
            });
        });
    </script>

{% endblock %}

{% block content %}
    <form method="post">
        <div class="row">
            {% crispy hastaForm %}
        </div>
        <div class="row">
            {% crispy kateterOlayiForm %}
        </div>
    </form>


{% endblock %}