{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media }}

{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Kaydedilemedi.</strong> Lütfen hataları düzeltin.
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
             Burada girdiğiniz bilgileri sonradan değiştirebilirsiniz.
        </div>
    {% endif %}


    <div class="row">
        <div class="col-md-12">
        <form method="post">
            <div class="row">
                <form method="post">
                    {% crispy form %}
                    <button type="submit" class="btn btn-default">Kaydet</button>
                </form>
            </div>
        </form>
        </div>
    </div>


{% endblock %}