{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media }}

{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        Burada girdiğiniz bilgileri sonradan değiştirebilirsiniz.
    </div>

    <div class="row">
        <div class="col-md-12">
        <form method="post">
            <div class="row">
                <form method="post">
                    {% crispy form %}
                    <button type="submit" class="btn btn-default">Kaydet</button>
                </form>
            </div>
        </form>
        </div>
    </div>


{% endblock %}