{% extends 'base.html' %}

{% block head %}
    {% include 'custom-assets/data-table.html' %}

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#hastalar').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.10/i18n/Turkish.json'
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>{% if merkez_column %}Tüm{% else %}Merkezinize kayıtlı{% endif %} hastalar</h2>

    <table id="hastalar" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Dosya No</th>
                {% if merkez_column %}
                    <th>Merkez</th>
                {% endif %}
                <th>Olay sayısı</th>
            </tr>
        </thead>
        <tbody>
            {% for hasta in hastalar %}
                <tr>
                    <td><a href="{% url "view_hasta" pk=hasta.pk %}"> {{ hasta.ad }} </a></td>
                    <td><a href="{% url "view_hasta" pk=hasta.pk %}"> {{ hasta.soyad }} </a></td>
                    <td>{{ hasta.tckn }}</td>
                    {% if merkez_column %}
                        <td>{{ hasta.merkez }}</td>
                    {% endif %}
                    <td>{{ hasta.diyalizolayi_set.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="get" action="{% url 'add_hasta' %}">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Yeni hasta ekle</button>
    </form>
{% endblock %}