{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ kateterOlayiForm.media }}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <h3>Hasta bilgileri</h3>
            <div class = "row">
                <table class="table">
                    <tr>
                        <th>Ad</th>
                        <td>{{ hasta.ad }}</td>
                    </tr>
                    <tr>
                        <th>Soyad</th>
                        <td>{{ hasta.soyad }}</td>
                    </tr>
                    <tr>
                        <th>Doğum yılı</th>
                        <td>{{ hasta.dogum_yili }}</td>
                    </tr>
                    <tr>
                        <th>Cinsiyet</th>
                        <td>{{ hasta.verbose_cinsiyet }}</td>
                    </tr>
                    <tr>
                        <th>Merkez</th>
                        <td>{{ hasta.merkez.isim }}</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="text-right">
                    <a class="btn btn-default" data-toggle="tooltip" title="Hasta bilgilerini değiştir" href="{% url "edit_hasta" pk=hasta.id %}" role="button">
                        Diğer bilgiler / Düzenle
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-hasta-modal" title="Hastayı sil">
                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-md-offset-1">
            <h3>Kateterler</h3>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tip</th>
                            <th>Takılma/Açılma tarihi</th>
                            <th>Yeri</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% with count=hasta.kateterolayi_set.count %}
                            {% for kateter in hasta.kateterolayi_set.all %}
                                <tr>
                                    <td>{{ kateter.verbose_tip }}</td>
                                    <td>{{ kateter.takilma_tarihi }}</td>
                                    <td>{{ kateter.verbose_yeri }}</td>
                                    <td>
                                        <a class="btn btn-default" href="{% url 'create_olay' kateter.id %}" role="button">Olay ekle</a>
                                        {% if count > 1 %}
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-kateter-modal-{{ kateter.id }}" title="Kateteri sil">
                                                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#kateter-form-div" aria-expanded="false" aria-controls="kateter-form-div">
                    Yeni kateter veya fistül ekle
                </button>
                <div class="collapse" id="kateter-form-div">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form method="post">
                                {% crispy kateterOlayiForm %}
                                <input type="hidden" name="command" value="new_kateter">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Hastaya ait hemodiyaliz ilişkili olaylar</h3>
        {% if hasta.diyalizolayi_set.exists %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Olay tarihi</th>
                            <th>Isı artışı / hiperemi / püy</th>
                            <th>IV Antibiyotik</th>
                            <th>Kan kültüründe üreme</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for olay in hasta.diyalizolayi_set.all %}
                            <tr>
                                <td><a href="{% url 'view_olay' olay_id=olay.id %}">{{ olay.olay_tarihi }}</a></td>
                                <td>{% if olay.isi_hiperemi_puy %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
                                <td>{% if olay.iv_antibiyotik %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
                                <td>{% if olay.kan_kulturunde_ureme %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Henüz bu hasta için olay eklenmemiş.
                Olay eklemek için için olayın ilgili olduğu kateterin Olay ekle butonunu tıklayın.
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    <!-- Hasta silme modalı -->
    <div class="modal fade" id="delete-hasta-modal" tabindex="-1" role="dialog" aria-labelledby="delete-hasta-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Hastayı sil!</h4>
          </div>
          <div class="modal-body">
              <p>Bu hastayı sildiğinizde aşağıdakiler de silinecek:</p>
              <ul>
                  <li>Hastaya bağlı fistül veya kateterler ({{ hasta.kateterolayi_set.count }} adet)</li>
                  <li>
                      Hastaya bağlı olaylar ({{ hasta.diyalizolayi_set.count }} adet)
                      <ul>
                          <li>Olaylara bağlı antibiyogram sonuçları</li>
                      </ul>
                  </li>
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeçtim</button>
              <form action="{% url 'delete_hasta' hasta.id %}" method="post" class="form" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Sil</button>
              </form>
          </div>
        </div>
      </div>
    </div>

    {% if hasta.kateterolayi_set.count > 1 %}
        {% for kateter in hasta.kateterolayi_set.all %}
            <!-- Kateter silme modalı {{ kateter.id }} -->
            <div class="modal fade" id="delete-kateter-modal-{{ kateter.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-kateter-modal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kateteri sil!</h4>
                  </div>
                  <div class="modal-body">
                      <p>Bu kateteri sildiğinizde aşağıdakiler de silinecek:</p>
                      <ul>
                          <li>
                              {% with count=kateter.diyalizolayi_set.count %}
                                  Katetere bağlı olaylar ({{ count }} adet)
                                  {% if count > 0 %}
                                      <ul>
                                        {% for olay in kateter.diyalizolayi_set.all %}
                                          <li>{{ olay.olay_tarihi }} tarihli olay.</li>
                                        {% endfor %}
                                      </ul>
                                  {% endif %}
                              {% endwith %}
                          </li>
                          <li>Bu olaylara bağlı antibiyogram sonuçları</li>
                      </ul>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeçtim</button>
                      <form action="{% url 'delete_kateter' kateter.id %}" method="post" class="form" style="display: inline;">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Sil</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}

    {% endif %}
{% endblock %}