{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media }}

{% endblock %}

{% block content %}
    {% if olay_form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Kaydedilemedi.</strong> Lütfen hataları düzeltin.
        </div>
    {% endif %}

    <div class="page-header">
        <h1>
            Diyaliz Olayı Ekranı
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-olay-modal" title="Olayı sil">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            </button>
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h3>
                Hasta bilgileri
                <a href="{% url 'view_hasta' pk=hasta.pk %}">
                <button type="button" class="btn btn-default btn-default pull-right">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Hasta sayfasına dön
                </button>
                </a>
            </h3>
            <div class = "row">
                <table class="table">
                    <tr>
                        <th>Ad</th>
                        <td>{{ hasta.ad }}</td>
                    </tr>
                    <tr>
                        <th>Soyad</th>
                        <td>{{ hasta.soyad }}</td>
                    </tr>
                    <tr>
                        <th>Doğum yılı</th>
                        <td>{{ hasta.dogum_yili }}</td>
                    </tr>
                    <tr>
                        <th>Cinsiyet</th>
                        <td>{{ hasta.verbose_cinsiyet }}</td>
                    </tr>
                    <tr>
                        <th>Merkez</th>
                        <td>{{ hasta.merkez.isim }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <h3>Kateter Bilgileri</h3>
            <div class = "row">
                <table class="table">
                    <tr>
                        <th>Tip</th>
                        <td>{{ kateter.verbose_tip }}</td>
                    </tr>
                    <tr>
                        <th>Takılma/Açılma tarihi</th>
                        <td>{{ kateter.takilma_tarihi }}</td>
                    </tr>
                    <tr>
                        <th>Yeri</th>
                        <td>{{ kateter.verbose_yeri }}</td>
                    </tr>
                    <tr>
                        <th>Takıldığı/açıldığı merkez</th>
                        <td>{{ kateter.verbose_takildigi_merkez }}</td>
                    </tr>
                    <tr>
                        <th>Değişim nedeni</th>
                        <td>{{ kateter.verbose_degisim_nedeni }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% crispy olay_form %}
                </div>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Kaydet</button>
        </div>

        <div class="row">
            <h3>Etkenler</h3>
            {% if not etkenler %}
                <div class="alert alert-warning" role="alert">Henüz bir etken eklenmemiş.</div>
            {% endif %}

            {% for etken in etkenler %}
                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                          <em>{{ etken.instance.mikroorganizma.ad }}</em>
                          <button type="submit" name="delete-etken" value="{{ etken.instance.id }}" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Sil
                          </button>
                      </div>
                      <div class="panel-body">
                          {% for form in etken.duyarlilik_forms %}
                              <div class="row">
                                  {% crispy form %}
                              </div>
                              <br>
                          {% endfor %}
                      </div>

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Kaydet</button>
        </div>

        <div class="row">
            <h3>Etken ekle</h3>
            {% crispy etken_form %}
            <p>*Ctrl'e basılı tutarak birden fazla seçebilirsiniz</p>
            <button type="submit" name="etken-ekle" value="ekle" class="btn btn-default">Seçilen etkenleri ekle</button>
        </div>
    </form>

{% endblock %}

{% block modals %}
    <!-- olay silme modalı -->
    <div class="modal fade" id="delete-olay-modal" tabindex="-1" role="dialog" aria-labelledby="delete-olay-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Olayı sil!</h4>
          </div>
          <div class="modal-body">
              <p>Bu olayı ve tüm antibiyogram sonuçlarını silmek istediğinizden emin misiniz?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeçtim</button>
              <form action="{% url 'delete_olay' olay.id %}" method="post" class="form" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Sil</button>
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}