{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {{ kateterOlayiForm.media }}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <h3>Hasta bilgileri</h3>
            <div class = "row">
                <table class="table">
                    <tr>
                        <th>Ad</th>
                        <td>{{ hasta.ad }}</td>
                    </tr>
                    <tr>
                        <th>Soyad</th>
                        <td>{{ hasta.soyad }}</td>
                    </tr>
                    <tr>
                        <th>Doğum yılı</th>
                        <td>{{ hasta.dogum_yili }}</td>
                    </tr>
                    <tr>
                        <th>Cinsiyet</th>
                        <td>{{ hasta.verbose_cinsiyet }}</td>
                    </tr>
                    <tr>
                        <th>Merkez</th>
                        <td>{{ hasta.merkez.isim }}</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="text-right">
                    <a class="btn btn-default" data-toggle="tooltip" title="Hasta bilgilerini değiştir" href="{% url "edit_hasta" pk=hasta.id %}" role="button">
                        Diğer bilgiler / Düzenle
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-md-offset-1">
            <h3>Kateterler</h3>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tip</th>
                            <th>Takılma/Açılma tarihi</th>
                            <th>Yeri</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kateter in hasta.kateterolayi_set.all %}
                            <tr>
                                <td>{{ kateter.verbose_tip }}</td>
                                <td>{{ kateter.takilma_tarihi }}</td>
                                <td>{{ kateter.verbose_yeri }}</td>
                                <td><a class="btn btn-default" href="{% url 'create_olay' kateter.id %}" role="button">Olay ekle</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h4>Yeni kateter</h4>
                <form method="post">
                    {% crispy kateterOlayiForm %}
                    <input type="hidden" name="command" value="new_kateter">
                </form>
            </div>
        </div>
    </div>
{% endblock %}